event-page-conditions
  div
    span 出現条件
    div
      event-page-switch(
        if='{ opts.conditions.switch1Valid }'
        switch-id='{ opts.conditions.switch1Id }'
        switch-valid='{ opts.conditions.switch1Valid }'
      )
    div
      event-page-switch(
        if='{ opts.conditions.switch2Valid }'
        switch-id='{ opts.conditions.switch2Id }'
        switch-valid='{ opts.conditions.switch2Valid }'
      )
    div
      event-page-self-switch(
        if='{ opts.conditions.selfSwitchValid }'
        self-switch-ch='{ opts.conditions.selfSwitchCh }'
        self-switch-valid='{ opts.conditions.selfSwitchValid }'
      )
    div
      event-page-item(
        if='{ opts.conditions.itemValid }'
        item-id='{ opts.conditions.itemId }'
      )
    div
      event-page-actor(
        if='{ opts.conditions.actorValid }'
        actor-id='{ opts.conditions.actorId }'
      )

  style(scoped)
    include event-page-conditions.css

  script(src='./event-page-conditions.coffee')
